body {
  color: #414042;
}

header h2 {
  color: #6d6e71;
}

h1 {
  color: #8EC549;
}

h2 {
  color: #8EC549;
}

h3 {
  color: #8EC549;
}

#container {
  background: transparent url(../images/highlight-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

.inner {
  background: rgba(230, 231, 232, 0.9);
  padding-left: 100px;
  padding-right: 100px;
}
